<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Ohad Pick Shopping List Demo</h1>
    <p class="lead">This is a demo site</p>
    <p class="lead">Use this site with my general user:</p>
    <p class="lead"><strong>Username:</strong>User</p>
    <p class="lead"><strong>Password:</strong>password</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>

